#MONGODB
MONGODB_URI=mongodb+srv://name:password@cluster0.me6vxg4.mongodb.net/?retryWrites=true&w=majority

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=somename
CLOUDINARY_API_KEY=654359242747876
CLOUDINARY_API_SECRET=5gPn54Gtj1LCMem6-bVNP2IqvY9

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=keon.weimann16@ethereal.email
SMTP_PASSWORD=bCQdQ4ypz1kmUA7uVk
EMAIL_FROM=keon.weimann16@ethereal.email

# URL of client application
CLIENT_URL=http://localhost:4000